body {
    margin: 0;
    background-image: url(./images/space-forest.jpg);
    background-size: cover;
    background-position: center;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 3rem;
    color: #2c1d2e;
}

.container {
    border: 2px solid #2b3242;
    border-radius: 1rem;
    box-shadow: 0 0 10rem;
    height: 28rem;
    width: 45rem;
    background-color: #4e5977c9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    color: rgb(222, 222, 222);
    font-family: 'Roboto', sans-serif;
    width: 50%;
    line-height: 1.5rem;
    font-size: 16px;
}

#button-alternatives {
    width: 20rem;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

#input-name {
    height: 1.5rem;
    border-radius: 2rem;
    width: 12rem;
    padding: 0.5rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    font-family: 'Space Grotesk', sans-serif;
    border: 2px solid #2b3242;
    font-size: 18px;
}

#input-box {
    display: flex;
    flex-direction: column;
}

#input-button {
    margin-left: 4rem;
}

button {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(222, 222, 222);
    border-radius: 2rem;
    padding: 0.7rem;
    background-color: white;
    border: none;
    width: 5rem;
}

button:hover {
    background-color: #a295ba;
}

#input-name:hover {
    border: 2px solid #a295ba;
}