body {
    margin: 0;
    background-image: url(./images/space-forest.jpg);
    background-size: cover;
    background-position: center;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 3rem;
    color: #2c1d2e;
}

.container {
    border: 2px solid #2b3242;
    border-radius: 1rem;
    box-shadow: 0 0 10rem;
    height: 25rem;
    width: 45rem;
    background-color: #4e5977c9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    color: rgb(207, 205, 205);
    font-family: 'Roboto', sans-serif;
}

.button-alternatives {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

button {
    font-family: 'Roboto', sans-serif;
    border-radius: 2rem;
    padding: 0.7rem;
    background-color: white;
    border: none;
}

button:hover {
    border: 3px solid #96669f;

}